<div class="col-md-6 offset-md-3">
    <h3>Update Employee</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First name</label>
        <input
          type="type"
          class="form-control"
          id="firstName"
          [(ngModel)]="employee.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          type="type"
          class="form-control"
          id="lastName"
          [(ngModel)]="employee.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="type"
          class="form-control"
          id="emailId"
          [(ngModel)]="employee.emailId"
          name="emailId"
        />
      </div>
      <button class="btn btn-success mt-5" type="submit">Submit</button>
    </form>
  </div>
  